#jumbo {
    height: 100vh;
    color: white;
}

/* background sezione grande */
.backgroundIMG {
    height: 16rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.backgroundONE {
    background-image: url("../img/01.webp");
}

.backgroundTWO {
    background-image: url("../img/02.webp");
}

.backgroundTHREE {
    background-image: url("../img/03.webp");
}

.backgroundFOUR {
    background-image: url("../img/04.webp");
}

.backgroundFIVE {
    background-image: url("../img/05.webp");
}

/* background sezione piccola */
.slideController {
    position: relative;
}

.arrows {
    position: absolute;
    font-size: 1rem;
    color: white;
}

#arrow-prev {
    left: 45%;
}

#arrow-next {
    bottom: 0;
    left: 45%;
}

.slideBox {
    width: 100%;
    height: 20%;
}